PORT=3000
JWT_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Google Cloud Platform Credentials - Cloud SQL
DB_HOST=your_postgres_address
DB_PORT=your_postgres_port
DB_USER=your_postgres_username
DB_PASSWORD=your_postgres_password
DB_NAME=your_postgres_db_name

RESEND_API_KEY=your_resend_api_key